.profile {
    width: 1024px;
    text-align: center;
    border: none;
    padding: 20px 0px;
    margin:0 auto;
    display: flex; 
    justify-content: center;
}

#profile1 {
    width: 400px;
    height: 400px;
    background-color: coral;
}
#profile1 img {
    margin: 30px 0px;
}
#profile1 p {
    font-size:x-large
}
#profile2 {
    width: 600px;
    height: 400px;
    background-color: aquamarine;
    padding: 30px;
    text-align: left;
}
#profile2 hr {
    width: 100%;
}
.btn_container {
    width: 1024px;
    text-align: center;
    border: none;
    padding: 20px 0px;
    margin:0 auto;
    display: flex; 
    justify-content: space-around;
}
.btn_container button {
    width: 200px;
}
.text_container {
    width: 1024px;
    text-align: center;
    border: none;
    padding: 20px 0px;
    margin:0 auto;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.text_container > div {
    padding: 0px 20px;
}
.item_container {
    width: 1024px;
    text-align: center;
    border: none;
    padding: 20px 0px;
    margin:0 auto;
    display: flex; 
    justify-content: space-around;
}
.item {
    width: 230px;
    height: 230px;
}
.item {
    z-index: 0;
    position: relative;
}
.item > .item_info {
    background-color: rgba(128, 128, 128, 0.6);
    text-align: center;
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 30%;
    font-weight: 700;
}
.item_info :last-child {
    color: red;
}

.question_container {
    width: 1024px;
    text-align: center;
    border: none;
    padding: 20px 0px;
    margin: 0 auto;
    display: flex; 
    justify-content: left;
    align-items: center;
}
.ques1 {
    margin: 0px 30px;
}
.ques1 img {
    width: 100px;
    height: 100px;
}
.ques2 {
    align-items: center;
    margin: 0px 30px;
}
.ques2 p {
    padding-top: 1em;
}
.ques3 {
    background-color: darkgray;
    border-radius: 10px;
    position: relative;
    margin: 0px 30px;
    width: 700px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ques3:after {
    content: "";
    position: absolute;
    top: 30%;
    left: 0%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent darkgray transparent;
}
/* 배송 관련 */
.deliver_container {
    width: 1024px;
    text-align: center;
    border: none;
    padding: 20px 0px;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
    align-items:flex-start;
}
.deliver1 {
    width: 50%;
}
.deliver2 {
    width: 50%;
}
.deliver_list_whole {
    border: 1px solid lightgrey;
    padding: 20px;
}
.deli_list_right {
    width: 100%;
    text-align: center;
    border: none;
    padding: 20px 0px;
    margin: 0 auto;
    display: flex; 
    justify-content:flex-end;
    align-items: center;
}
.badge_deliver {
    margin-bottom: 20px;
}

.deliver_list {
    width: 100%;
    text-align: center;
    border: none;
    padding: 20px 0px;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.del_list2 {
    width: 50%;
}

/* 여기부터 안전결제 관련 */

.safePurchase_container {
    width: 640px;
    border: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}
.safePurchase_container > div {
    padding: 30px 20px;
    border-bottom: 1px solid lightgray;
}
.safe_btn_container {
    
}
.image_btn {
    width: 30px;
    height: 30px;
    float: left;
    padding: 2px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image_btn img {
    width: 20px;
    height: 20px;
}
.safe_info_container {
    
}
#safe_into_text {
    /* margin-top: 10px; */
}
.safe_item_line {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.safe_item_image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.safe_address_container {
    text-align: left;
}
#safe_address_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
#safe_address_box2 {
    display: flex;
    align-items: center;
    justify-content: left;
}
#deliver_location {
    width: 100%;
}
.safe_money_container {
    text-align: left;
}
.safe_money_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}
.safe_purchase_way_container {
    text-align: left;
}
.safe_agree_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.safe_purchase_container > button {
    width: 100%;
}